@using BeSpoked.Models;
@{
    ViewData["Title"] = "Home Page";

    var employees = (List<EmployeeModel>)ViewData["EmployeeList"];
}

<h1>Employee List</h1>

@foreach(var employee in employees)
            {
                <div class="row">
                    <div class="col">
                        @employee.Em_Name_FL
                    </div>
                </div>
            }


