@using BeSpoked.Models;
@{
    ViewData["Title"] = "Home Page";

    var employees = (List<EmployeeModel>)ViewData["EmployeeList"];
}

<h1>Employee List</h1>

<a class="btn btn-sm btn-primary" asp-action="ViewAll" asp-controller="Employee"> Employees</a>
<a class="btn btn-sm btn-primary" asp-action="List" asp-controller="Product"> Products</a>
<a class="btn btn-sm btn-primary" asp-action="List" asp-controller="Customer"> Customers</a>

