@using BeSpoked.Models;
@{
    ViewData["Title"] = "Home Page";

}

<ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
</ol>


<a class="btn btn-sm btn-primary" asp-action="List" asp-controller="Salesperson"> Salespeople</a>
<a class="btn btn-sm btn-primary" asp-action="List" asp-controller="Product"> Products</a>
<a class="btn btn-sm btn-primary" asp-action="List" asp-controller="Customer"> Customers</a>
<a class="btn btn-sm btn-primary" asp-action="List" asp-controller="Sales"> Sales</a>

